body {
  font-family: Arial, sans-serif;
  color: #555;
  background-color: #f4f4f4;
  margin: auto;
  max-width: 900px;
  height: 100%;
}

a {
  color: #bbb;
}

a :hover {
  color: #ccc;
}

a :visited {
  color: #bbb;
}

#contents {
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 20px 0;
  padding: 20px 40px;
}

#header {
  color: #eee;
  background-color: #bbb;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  max-width: 900px;
  margin: auto;
}

img {
  max-width: 100%;
  padding: 20px 0;
}

img.center {
  display: block;
  margin: auto;
}

button, .button {
  padding: 10px 20px;
  background-color: #bbb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.2em;
}

button:hover {
color:#fff;
  background-color: #aaa;
}

#footer {
  background-color: #fff;
  height: auto;
  padding: 20px;
  text-align: center;

}